body{
margin:0;
padding:0;
line-height: 1.5em;
}

b{font-size: 110%;}
em{color: red;}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
margin-left: 200px; /*Set left margin to LeftColumnWidth*/
}

#leftcolumn{
float: left;
width: 200px; /*Width of left column*/
margin-left: -100%;
background: #C8FC98;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

/* ####### responsive layout CSS ####### */

@media (max-width: 600px){ /* responsive layout break point */

	#contentwrapper{
	float: none;
	}

	#leftcolumn{
	float: none;
	width: 100%;
	margin-left: 0;
	}

	#contentcolumn{
	margin-left: 0;
	}
}/* General CSS*/




