html, body {
    width: 100vw;
    height: 100vh;
}

body{
    background-image: url("../img/memphis.png");
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight: 300;
}

.table{
    /* visuals */
    background-color: white;
    width: 400px;
    height: 400px;
    /*display: table;*/
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.25);
    /* positioning */
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-175px;
    position: absolute;

}

.table-cell{
    width: 100%;
    width: 100%;
    height: 100%;
}

#top{
    position: relative;
    top: -100px;
}

#bottom{
    position: relative;
    top: -60px;
}
img{
    width: 150px;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 1em;
    font-weight: 400;
}

h3{
    font-size: 2em;
}

