{% extends "base.html" %}

{% block h2 %} Error Page: 404 (not found){% endblock %}

{% block bottom %}
    <p>
        Once upon a midnight dreary, <br>
        While I porn-surfed, weak and weary, <br>
        Over many a strange and spurious, <br>
        Porn-site of "hot chicks galore", <br>
        While I clicked my fav'rite bookmark, <br>
        Suddenly there came a warning, <br>
        And my heart was filled with mourning, <br>
        Mourning for my dear amour, <br>
        "Tis not possible," I muttered, <br>
        "Give me back my free hardcore!" <br>
        Quoth the server, <br>
        "404"
    </p>
{% endblock %}


