{% extends "base1.html" %}

{% block head %}
<style>
    #blur:before{
        filter: blur(0px) brightness(0.4);
    }
    #dynamic{
        background-color: transparent;
        width: 100%;
        left: 0;
        margin-left: 0;
    }

    #content h2{
        color:white;
        font-size:5em;
    }
    #content p{
        color:white;
        font-size:2em;
    }
</style>
{% endblock %}

{% block content %}
<div class="table" style="width: 100%; height: 100%;">
<div class="tablecell">
<div id="dynamic">
    <h2>A quiz for <span>everyone</span>.</h2>
    <p>Play. Learn. Compete.</p>
</div>
</div>
</div>
{% endblock %}


