{% extends "base1.html" %}

{% block content %}
<div class="table" style="width: 100%; height: 100%;">
<div class="tablecell">
<div id="dynamic">
    <h2>Login</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes" id="flash">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<br><br>
    <form method="POST">
      <input type="text" name="username" placeholder="username" value="{{request.form.username}}">
      <br>
      <input id="password" type="password" name="password" placeholder="password" value="{{request.form.password}}">
      <br>
      <input id="submit" type="submit" value="Continue">
    </form>

    <div id="blue"><a href="{{url_for('registration')}}">Don't have an account? Sign up</a></div>
</div>
</div>
</div>
{% endblock %}