{% extends "base2.html" %}

{% block slider %}
    <ul>
        <li><div class="table"><div class="tablecell"><a href="{{ url_for('quiz') }}" class="active"><i class="icon-gamepad"></i>Play</a></div></div></li>
        <li><div class="table"><div class="tablecell"><a href="#"><i class="icon-dashboard"></i>Dashboard</a></div></div></li>
        <li><div class="table"><div class="tablecell"><a href="#"><i class="icon-bar-chart"></i>Statistics</a></div></div></li>
        <li><div class="table"><div class="tablecell"><a href="{{ url_for('settings') }}"><i class="icon-cog"></i>Settings</a></div></div></li>
    </ul>
{% endblock %}

{% block content %}
    <!-- HEADER -->
    <div id="content-head-wrapper" style="height: 120px;">
        <div class="table" id="content-head-table-wrapper" >
            <div class="tablecell" id="pagename" style="height: 120px;">
                Question {{ id+1 }}
            </div>
        </div>
    </div>
    <!-- DYNAMIC/INTERACTIVE CONTENT -->
    <div class="dynamic-wrapper">
        <div class="table question">
            <div class="tablecell">
                {{ clean_question }}
            </div>
        </div>
        <div class="interactive">
            {% for x in range(0, 4) %}
                <div class="divSquare">
                    <a class="no-link"  href="{{ url_for('trivia', category=category, id=id, type=clean_types[x]) }}">
                        <div class="table selection-wrapper">
                            <div class="numbering tablecell">{{ loop.index }}</div>
                            <div class="selection-value tablecell">{{ clean_answers[x] }}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block chart %}
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['anime', 'books', 'Games', 'Movies'],
        datasets: [{
          label: 'Choises',
          backgroundColor: ["#75AA28", "#BB1041", "#112233", "#332211"],
          data: [10,33,53,22]
        }]
      },
      options:{
        responsive: true,
        cutoutPercentage: 75
      }
    });
</script>
{%  endblock  %}