{% extends "base2.html" %}

{% block slider %}
    <ul>
        <li><div class="table"><div class="tablecell"><a href="{{ url_for('quiz') }}" class="active"><i class="icon-gamepad"></i>Play</a></div></div></li>
        <li><div class="table"><div class="tablecell"><a href="#"><i class="icon-dashboard"></i>Dashboard</a></div></div></li>
        <li><div class="table"><div class="tablecell"><a href="#"><i class="icon-bar-chart"></i>Statistics</a></div></div></li>
        <li><div class="table"><div class="tablecell"><a href="{{ url_for('settings') }}"><i class="icon-cog"></i>Settings</a></div></div></li>
    </ul>
{% endblock %}

{% block content %}
    <!-- HEADER -->
    <div id="content-head-wrapper" style="height: 120px;">
        <div class="table" id="content-head-table-wrapper" >
            <div class="tablecell" id="pagename" style="height: 120px;">
                Question {{ id+1 }}
            </div>
        </div>
    </div>
    <!-- DYNAMIC/INTERACTIVE CONTENT -->
    <div class="dynamic-wrapper">
        <div class="table question">
            <div class="tablecell">
                {{ clean_question }}
            </div>
        </div>
        <div class="interactive">
            {% for x in range(0, 4) %}
                <div class="divSquare">
                    <a class="no-link"  href="{{ url_for('trivia', category=category, id=id, type=clean_types[x]) }}">
                        <div class="table selection-wrapper">
                            <div class="numbering tablecell">{{ loop.index }}</div>
                            <div class="selection-value tablecell">{{ clean_answers[x] }}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stats %}
    <div class="percentage-wrapper table">
        <div class="percentage">{{ percentage }}%</div>
        <div class="percentage-description">of people got this question right</div>
    </div>
    <div class="trivia-wrapper">
        <p class="trivia">
            tinyQuiz has been developed by Andrei Lavrenov in 2017 for Project I. It's based on flask and runs on a Raspberry Pi 3. It has a custom user system, score and data retention and more. You can find more information about the project on my:
            <br><br>
            <a href="https://github.com/elfensky/tinyQuiz"><i class="icon-github"></i>Github</a>
            <br><br>
            <a href="https://www.instructables.com/id/TinyQuiz/"><i class="icon-book"></i>Intructables</a>
            <br><br>
            <a href="http://student.howest.be/andrei.lavrenov/portfolio/"><i class="icon-globe"></i>Portfolio</a>
        </p>
    </div>
{% endblock %}