{% extends "base.html" %}


{% block h2 %} developed by Andrei Lavrenov © all rights reserved {% endblock %}
{% block h3 %} Which category do you want to play? {% endblock %}
{% block head %}
<style>
        a{
            background-color: #75AA28;
            margin: 5px;
            padding: 10px 20px;
            color:#FFF;
            border-radius: 10px;
        }

        a:hover{
            background-color: #BB1041;
        }
</style>
{% endblock %}
{% block bottom %}

    {% for row in tuple_category %}
        <a href="{{url_for('quiz', category=row, id=0)}}">{{ row }}</a><br><br><br>
    {% endfor %}

{% endblock %}

