{% extends "base2.html" %}

{% block slider %}
    <li><div class="table"><div class="tablecell active"><a href="#" class=""><i class="icon-gamepad"></i>Play</a></div></div></li>
    <li><div class="table"><div class="tablecell"><a href="#" class=""><i class="icon-dashboard"></i>Dashboard</a></div></div></li>
    <li><div class="table"><div class="tablecell"><a href="#" class=""><i class="icon-bar-chart"></i>Statistics</a></div></div></li>
    <li><div class="table"><div class="tablecell"><a href="#" class=""><i class="icon-cogs"></i>Settings</a></div></div></li>
{% endblock %}

{% block content %}
    <div id="content-head-wrapper">
    <div class="table" id="content-head-table-wrapper">
        <div class="tablecell" id="pagename">
            Quiz
        </div>
        <div class="tablecell" id="username">
            <i class="icon-user"></i>{{username}}
        </div>
    </div></div>
    <div class="table" id="question">
        <div class="tablecell">
            Please choose a category
        </div>
    </div>
{% endblock %}