{% extends "base2.html" %}

{% block slider %}
    <ul>
        <li><div class="table"><div class="tablecell"><a href="{{ url_for('quiz') }}"><i class="icon-gamepad"></i>Play</a></div></div></li>
        <li><div class="table"><div class="tablecell"><a href="#"><i class="icon-dashboard"></i>Dashboard</a></div></div></li>
        <li><div class="table"><div class="tablecell"><a href="#"><i class="icon-bar-chart"></i>Statistics</a></div></div></li>
        <li><div class="table"><div class="tablecell"><a href="{{ url_for('settings') }}" class="active" ><i class="icon-cog"></i>Settings</a></div></div></li>
    </ul>
{% endblock %}

{% block content %}
    <div id="content-head-wrapper" style="height: 120px;">
        <div class="table" id="content-head-table-wrapper">
            <div class="tablecell" id="pagename" style="height: 120px;">
                Settings
            </div>
{#            <div class="tablecell" id="username">#}
{#                <i class="icon-user"></i>{{username}}#}
{#                <a href="{{ url_for('logout') }}"><i class="icon-signout" style="margin-left: 1em;"></i>Logout</a>#}
{#            </div>#}
        </div>
    </div>
    <div class="dynamic-wrapper">
        <div class="table question">
            <div class="tablecell">
                Change Password
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes style="color:red;">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="post">
      <input type="password" name="password_old" placeholder="old password" value="{{request.form.password_old}}">
      <br>
      <input type="password" name="password1" placeholder="new password" value="{{request.form.password1}}">
      <br>
      <input type="password" name="password2" placeholder="repeat new password" value="{{request.form.password2}}"><br>
      <input id="submit1" type="submit" value="Change password">
    </form>
    <form method="post">
      <input type="text" name="username" placeholder="{{ username }}" value="{{request.form.username_new}}">
      <br>
      <input type="password" name="password3" placeholder="current password" value="{{request.form.password3}}"><br>
      <input id="submit2" type="submit" value="Change username">
    </form>
{% endblock %}

